@page "/doctors"
@using Hospital_System_Blazor.Services.Interfaces;
<h3>Employees Pages</h3>
@inject IEmployeeServices Employees_Services;

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>The Employee's title:</th>
            <th>The Speciality's title:</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Employees!)
        {
            <tr>
                <td>@employee.Doctors_name</td>
                <td>@employee.Specialty</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    private IEnumerable<Doctors>? Employees;

    protected override async Task OnInitializedAsync() => await this.Get_all_Employees();

    private async Task Get_all_Employees() => Employees = await Employees_Services.Get_all_Employees();
}
